h1 {
  color:blue;
  text-align-last:center;
}

h2 {
  color:brown;
  text-align-last:center;
}

label {
  border-style:inset;
}

.label {
  color:green;
  background-color:yellow;
  font-weight:bold;
}
.calcbtn {
  display:block;
  margin: 0 auto;
}

.greeting {
  color:red;
  background-color:green;
  font-style:italic;
}

.kctable, tr, td, th {
  text-align:center;
  border:1px solid black;
  border-collapse: collapse;
}

#date {
  color:brown;
}
